<ion-view class="home-view">

    <ion-nav-title>{{'home.title' | translate}}</ion-nav-title>
    <ion-content class="full-back"
                 style="background: url('{{homeCtrl.homePic}}') no-repeat center center; background-size: cover;">

        <div class="card" style="background-color: rgba(255,255,255,0.6) !important;">
            <div class="item item-text-wrap text-center" style="background-color: rgba(255,255,255,0.6) !important;">
                <h1 class="positive">HOY EXTRAÑO</h1>

                <h2 style="font-size: 20px; margin-top:-15px">{{homeCtrl.homePhrase}}</h2>
                <i class="icon ion-heart home-icon-back"></i>

            </div>
        </div>

        <div class="card" style="background-color: rgba(255,255,255,0.6) !important;" ui-sref="common.writtings">
            <div class="item item-text-wrap text-center" style="background-color: rgba(255,255,255,0.6) !important;"
                 ng-if="homeCtrl.unread != 1">
                <span style="margin-right: 10px;">Tenés</span><span class="badge badge-positive"
                                                                    style="display: inline !important; top:initial; right: initial;">{{homeCtrl.unread}}</span>
                <span style="margin-left: 30px;">escritos no leídos</span>
            </div>

            <div class="item item-text-wrap text-center" style="background-color: rgba(255,255,255,0.6) !important;"
                 ng-if="homeCtrl.unread == 1">
                <span style="margin-right: 10px;">Tenés</span><span class="badge badge-positive"
                                                                    style="display: inline !important; top:initial; right: initial;">{{homeCtrl.unread}}</span>
                <span style="margin-left: 30px;">escrito no leído</span>
            </div>


        </div>

        <div class="card" style="background-color: rgba(255,255,255,0.6) !important;" ui-sref="common.writtings">
            <div class="item item-text-wrap text-center" style="background-color: rgba(255,255,255,0.6) !important;"
                 ng-if="homeCtrl.disabled != 1">
                <span style="margin-right: 10px;">Tenés</span><span class="badge badge-dark"
                                                                    style="display: inline !important; top:initial; right: initial;">{{homeCtrl.disabled}}</span>
                <span style="margin-left: 30px;">escritos bloqueados </span>
            </div>

            <div class="item item-text-wrap text-center" style="background-color: rgba(255,255,255,0.6) !important;"
                 ng-if="homeCtrl.disabled == 1">
                <span style="margin-right: 10px;">Tenés</span><span class="badge badge-dark"
                                                                    style="display: inline !important; top:initial; right: initial;">{{homeCtrl.disabled}}</span>
                <span style="margin-left: 30px;">escrito bloqueado </span>
            </div>
        </div>

        <div class="card" style="background-color: rgba(255,255,255,0.6) !important;">
            <div class="item item-text-wrap text-center" style="background-color: rgba(255,255,255,0.6) !important;">
                <h2 style="font-size: 20px; margin-bottom:-15px">FALTAN</h2>

                <h1 class="positive">{{homeCtrl.countdown.days}} DIAS</h1>

                <h2 style="font-size: 20px; margin-top:-15px">PARA VERNOS DE NUEVO</h2>
                <i class="icon ion-clock countdown-icon-back"></i>

            </div>
        </div>

    </ion-content>

</ion-view>
