<ion-view class="writtings-view">

    <ion-nav-title>Escritos</ion-nav-title>

    <ion-content>
        <div ng-repeat="writting in writtingsCtrl.writtings">
            <div class="card" ng-click="writtingsCtrl.navigateToWritting(writting.id)"
                 style="background: url('{{writting.picture.medium.url}}'); background-size: 100% auto;  background-position: center center;" ng-if="writting.activated">
                <div class="item item-text-wrap text-center"
                     style="background-color: rgba(255,255,255,0.7) !important;">
                    <h2 style="font-size: 23px; margin-bottom:-15px; font-weight: bold">{{writting.title}}</h2>

                    <h1 class="positive" style="font-weight: bold">{{writting.activation_date | date: 'dd/MM/yyyy'}}</h1>

                    <i class="{{writting.icon + ' icon countdown-icon-back'}}"></i>

                </div>
            </div>

            <div class="card"
                 style="background-color: whitesmoke; background-size: 100% auto;  background-position: center center;" ng-if="!writting.activated">
                <div class="item item-text-wrap text-center"
                     style="background-color: rgba(255,255,255,0.5) !important;">
                    <h2 style="font-size: 20px; margin-bottom:-15px">Escrito bloqueado hasta el</h2>

                    <h1 class="positive">{{writting.activation_date | date: 'dd/MM/yyyy'}}</h1>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
