<ion-view class="home-view">

    <ion-nav-title>{{'home.title' | translate}}</ion-nav-title>

    <ion-content class="full-back"
                 style="background: url('{{homeCtrl.homePic}}') no-repeat center center fixed;">

        <div class="card" style="background-color: rgba(255,255,255,0.6) !important;">
            <div class="item item-text-wrap text-center" style="background-color: rgba(255,255,255,0.6) !important;">
                <h1 class="positive">HOY EXTRAÑO</h1>

                <h2 style="font-size: 20px; margin-top:-15px">{{homeCtrl.homePhrase}}</h2>
                <i class="icon ion-heart home-icon-back"></i>

            </div>
        </div>

        <div class="card" style="background-color: rgba(255,255,255,0.6) !important;">
            <div class="item item-text-wrap text-center" style="background-color: rgba(255,255,255,0.6) !important;">
                <span style="margin-right: 10px;">Tenés</span><span class="badge badge-positive"
                                                                    style="display: inline !important; top:initial; right: initial;">0</span>
                <span style="margin-left: 30px;">escritos sin leer</span>
            </div>
        </div>


    </ion-content>

</ion-view>
