<ion-view class="countdown-view">

    <ion-nav-title>{{writtingCtrl.writting.title}}</ion-nav-title>

    <ion-content>

        <div class="card">
            <div class="item item-divider" style="background: whitesmoke">
<p style="float: right">{{writtingCtrl.writting.activation_date | date : 'dd/MM/yyyy'}} <i class="icon ion-android-calendar"></i> </p>
            </div>
            <div class="item item-image">
                <img class="full-image padding-image" ng-src="{{writtingCtrl.writting.picture.picture.large.url}}">

            </div>

            <span ng-bind-html="writtingCtrl.writting.body"></span>
            <div class="item item-divider" style="background: whitesmoke; margin-top: 5px;">
                <p style="float: right">Kev~</p>
            </div>
        </div>

    </ion-content>
</ion-view>
